---
import Section from '@/components/Section.astro'

import { education } from '@/cv'
---

<Section title="Education">
  <ul>
    {
      education.map(({ institution, url, area, courses, startDate, endDate}) => {
        const startYear = new Date(startDate).getFullYear()
        const endYear = endDate != null ? new Date(endDate).getFullYear() : "Current"

        const years = `${startYear} - ${endYear}`

        return (
          <li>
            <article>
              <header>
                <div>
                  <h3>{institution}</h3>
                  <h4>{area}</h4>
                </div>
                <time>{years}</time>
              </header>
              <footer>
                {
                  courses.map(course => {
                    return (
                      <span>{course}</span>
                    )
                  })
                }
              </footer>
            </article>
          </li>
        )
      })
    }
  </ul>
</Section>

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  article h3 {
    font-weight: 500;
    color: #111;
  }

  article h4 {
    color: #222;
    font-weight: 400;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 8px;
  }

  time {
    font-size: .85rem;
    color: #555;
  }

  footer {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }

  footer span {
    border-radius: 6px;
    background: #eee;
    color: #444;
    font-size: .7rem;
    font-weight: 500;
    padding: .2rem .6rem;
  }
</style>